name: Static Code Analysis (SAST)

on:
  push:
    branches: [ master, main ]

jobs:
  run-bandit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip install bandit

      - name: Run Bandit
        run: |
          bandit -r dojo -f json -o bandit-report.json

      - name: Upload to DefectDojo
        env:
          DD_TOKEN: ${{ secrets.DD_TOKEN }}
        run: |
          curl -X POST http://185.178.44.115:8080/api/v2/import-scan/ \
            -H "Authorization: Token $DD_TOKEN" \
            -F "file=@bandit-report.json" \
            -F "scan_type=Bandit Scan" \
            -F "engagement=2" \
            -F "minimum_severity=Low" \
            -F "active=true" \
            -F "verified=true"
